@model IEnumerable <D.Models.Product>


@using D.Models

    <table class="table-bordered table-striped tbChoice" id="tbGoodsChoice">

        <thead>
            <tr>
                <th class="text-center">Обозначение</th>
                <th class="text-center">Наименование</th>
                <th class="text-center">Ед.изм.</th>
                <th class="text-center">Цена</th>
                <th class="text-center">Цена с НДС</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product p in Model)
            {
                @Html.Partial("GoodsBlock", p)
            }
        </tbody>
</table>





