@model HandleErrorInfo
@{
    ViewBag.Title = "Ошибка";
}

<div style="margin-top:20px">
    <h3>Ошибка!</h3>
    <span>
        Похоже, вы пытаетесь удалить заказ, связанный с денежным поступлением. Чтобы это сделать - сначала нужно удалить эту связь(можно сделать в "Деталях заказа") или связанное поступление.
    </span>
</div>
<div>
    @Html.ActionLink("<<", "Index")
</div>
