@model HandleErrorInfo
@{
    ViewBag.Title = "Ошибка";
}



<div class="container">
    <div class="center-block bs-callout bs-callout-danger">

        <h3>Ошибка!</h3>
        <p> Похоже, вы пытаетесь удалить поступление, связанное с заказом. Чтобы это сделать - сначала нужно удалить все заказы, на которые отнесено это поступление.</p>
        <div>
            @Html.ActionLink("<<", "Index")
        </div>
    </div>
</div>
