@model HandleErrorInfo
@{
    ViewBag.Title = "Ошибка";
}

<div style="margin-top:20px">
    <h3>Ошибка!</h3>
    <span>
        Похоже, вы пытаетесь удалить клиента, для которого сформирован заказ. Чтобы это сделать - сначала нужно удалить все заказы этого клиента.
    </span>
</div>
<div>
    @Html.ActionLink("<<", "Index")
</div>
