@model HandleErrorInfo
@{
    ViewBag.Title = "Ошибка";
}



<div class="container">
    <div class="center-block bs-callout bs-callout-danger">

        <h3>Ошибка!</h3>
        <p> Похоже, вы пытаетесь удалить товар, который содержится в заказах. Чтобы это сделать - сначала нужно удалить заказы с этим товаром.</p>
        <div>
            @Html.ActionLink("<<", "Index")
        </div>
    </div>
</div>