@model HandleErrorInfo
@{
    ViewBag.Title = "Ошибка";
}



<div class="container">
    <div class="center-block bs-callout bs-callout-danger">

        <h3>Ошибка!</h3>
        <p>
            Похоже, вы пытаетесь удалить поставщика, который связан с товаром. Чтобы это сделать - сначала нужно удалить все товары этого поставщика.
        </p>
        <div>
            @Html.ActionLink("<<", "Index")
        </div>
    </div>
</div>