@model IEnumerable<D.Models.Поставщик>

@{
    ViewBag.Title = "Поставщики";
}



<div id="table">
    @Html.Partial("Table")
</div>

    <div class="scrollup">
         <i class="glyphicon glyphicon-chevron-up"></i>
    </div>

    
    

    

