<div class="sideMenu">
    <a href="#mdNewOrder" data-toggle="modal" class="list-group-item"> <span class="glyphicon glyphicon-plus"></span> Добавить запись    </a>

    <div class="dropdown" tabindex="1">
        <a href='' class="dropdown-toggle  list-group-item" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Отчет<span class="caret"></span><span class="badge">1</span></a>
        <ul class="dropdown-menu">
            <li><a id="lkOrderPeriod">Заказы за период</a></li>
        </ul>
    </div>
    <div class="" id="dvPeriodSearch">
        @*@using (Ajax.BeginForm("ROrders", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "LoadData" }, new { @class = "form-horizontal" }))
            {*@
        
            @*<legend>Заказы за период</legend>*@
            <div class="form-group">
                @*<label class="col-lg-2">C</label>*@
                <div class="col-lg-10">


                    <input type="text" name="start" id="dtpStart" class="form-control input-sm" readonly="readonly" required="required" value="" placeholder="Период с..." />

                </div>
            </div>
            <div class="form-group">
                @*<label class="col-lg-2">По</label>*@
                <div class="col-lg-10">
                    <input type="text" name="end" id="dtpEnd" class="form-control input-sm" readonly="readonly" required="required" value="" placeholder="по..." />
                </div>
            </div>
            @*<label>
                    <button type = "submit" class="btn btn-sm" id="btPeriodSearch">ok</button>
                </label>*@
        
        @*}*@


    </div>
</div>



@*<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            locale: 'ru',
            pickTime: false,
            format: 'DD.MM.YYYY',
            useCurrent: false,
            language: 'ru',

        });

    });

    $(function () {
        $('#datetimepicker2').datetimepicker({
            locale: 'ru',
            pickTime: false,
            format: 'DD.MM.YYYY',
            useCurrent: false,
            language: 'ru',

        });

    });


    $.validator.addMethod('date',
            function (value, element) {
                var ok = true;
                try {
                    $.datepicker.parseDate('dd.mm.yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });

</script>*@

