
<div class="sideMenu">
    <a href="#mdNewCustomerEnt" data-toggle="modal" class="list-group-item"> <span class="glyphicon glyphicon-plus"></span> Добавить запись    </a>

    <div class="dropdown" tabindex="1">
        <a href='' class="dropdown-toggle  list-group-item" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Отчет<span class="caret"></span><span class="badge">1</span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Клиенты из города Могилева", "CMogilev")</li>
        </ul>
    </div>

</div>
