@model IEnumerable<D.Models.Клиент>

@{
    ViewBag.Title = "Клиенты";
}


@Html.Partial("_SideMenuClients")

<div id="table">
    @Html.Partial("Table")
</div>

<div class="scrollup">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>

        
        

        


