
@{ AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "table",
        HttpMethod = "Post",
        LoadingElementId = "load",
        LoadingElementDuration = 1000
    };
}

@*<div id="box" class="dontPrint">
    <img src="~/Content/loading.gif" id="load" />
    <div class="indoorBtnDiv search">
        @using (Html.BeginForm("Table","Товар"))
        {
            <input id="indoorText" data-val="true" data-val-required="Введите текст" name="search" type="text" data-autocomplete-source='@Url.Action("AutocompleteSearch", "Товар")' />
            <button type="submit" class="indoorBtn glyphicon glyphicon-search" id="button" value="Искать"></button>
        }
    

        
        </div>
</div>*@

<div class="sideMenu">
    
            <a  href="#mdNewGood" data-toggle="modal" class="list-group-item"> <span class="glyphicon glyphicon-plus"></span> Добавить запись    </a>
        


        @*<li class="list-group-item">
            <a id="toggler"  class="glyphicon glyphicon-search"></a>
        </li>*@
       


            <div  class="dropdown" tabindex="1">
                <a href='' class="dropdown-toggle  list-group-item" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Отчет<span class="caret"></span><span class="badge">3</span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Товары с остатком '0'", "ROst_0", "Товар")</li>
                    <li>@Html.ActionLink("Ведомость остатков", "ROst")</li>
                    <li>@Html.ActionLink("Прайс-лист", "Price")</li>
                </ul>
            </div>
        

        
            @*<a class="print dontPrint  list-group-item"><span class="glyphicon glyphicon-print"></span> Печать</a>
        

        
            <a class = "list-group-item" onclick="tableToExcel('Table', 'Товар')"><span class="glyphicon glyphicon-export"></span> Экспорт в Excel</a>*@
        

    </div>
