@model IEnumerable<D.Models.Товар>

@{
    ViewBag.Title = "Товары";

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "table",
        HttpMethod = "Post",
    };
}

@Html.Partial("_SideMenuGoods")

<div id="table">
    @Html.Partial("Table",Model)
</div>
<div class="scrollup">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>







