
<div class="sideMenu">
            <a  href="#mdNewGood" data-toggle="modal" class="list-group-item"> <span class="fa fa-plus fa-lg"></span> Добавить запись    </a>
            <div  class="dropdown" tabindex="1">
                <a href='' class="dropdown-toggle  list-group-item" data-toggle="dropdown"><span class="fa fa-list fa-lg"></span> Отчет<span class="caret"></span><span class="badge">3</span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Товары с остатком '0'", "ROst_0")</li>
                    <li>@Html.ActionLink("Ведомость остатков", "ROst")</li>
                    <li>@Html.ActionLink("Прайс-лист", "Price")</li>
                </ul>
            </div>
       </div>
