body {font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #222222;
  background-color: #ffffff;
  background:url(../Content/img/background-main-small.jpg)!important;
}

.center {
    width: 300px !important;
    margin: 30px auto 20px !important;
    padding: 10px;
    position: relative;
    text-align:left;
}

.form {
    margin-top:1%;
    margin-left:40%;
width:30%;
}

#submit {
display:none;
}
.text-danger ul {

margin-left:40%;
}
#submit1 {
    left: -5em;
    z-index: 10!important;
    position: relative;
}
.input-group {
width:100%;
top: 0.7em;
position: relative;
  display: table;
  border-collapse: separate;
}

.input-group-addon:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0;
}
input, input:visited, input:focus, input:active, input:hover{
    outline:0 none !important;
}

