body {
  background-image:url(../Content/background-main-small.jpg)!important;
}

.center {
    width: 300px !important;
    margin: 30px auto 20px !important;
    padding: 10px;
    position: relative;
    text-align:left;
    
    
    
}

.form {
    margin-top:1%;
    margin-left:40%;
width:30%;
}

#submit {
display:none;
}