
@{ AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "table",
        HttpMethod = "Post",
        LoadingElementId = "load",
        LoadingElementDuration = 1000
    };
}

<div id="box1" style="display: none" class="dontPrint">
    <img src="~/Content/loading.gif" id="load1" style="vertical-align: top;top:17px; left:-20px; position:absolute; display:none" />
    <div class="reportDate">
        @using (Ajax.BeginForm("ROrders", new AjaxOptions { UpdateTargetId = "table", HttpMethod = "Post", LoadingElementId = "load1", LoadingElementDuration = 1000 }))
        {
            <p>
                Период с&nbsp;<input type="text" class="datepicker" id="datetimepicker1" name="start" required/>&nbsp;по&nbsp;<input type="text" class="datepicker" id="datetimepicker2"name="end" required/>&nbsp;<button type="submit" class="reportOrderBtn glyphicon glyphicon-chevron-right" @*id="button"*@ value="">

                </button>
            </p>
        }
    </div>
</div>



<div id="box" style="display: none" class="dontPrint">
    <img src="~/Content/loading.gif" id="load" style="vertical-align: top;top:17px; left:-20px; position:absolute; display:none" />
    <div class="indoorBtnDiv search">
        @using (Ajax.BeginForm("Search", ajaxOptions))
        {
            <input id="indoorText" data-val="true" data-val-required="Введите текст" name="search" type="text" data-autocomplete-source='@Url.Action("AutocompleteSearch", "Денежное_поступление")'/>
            <button type="submit" class="indoorBtn glyphicon glyphicon-search" id="button" value="Искать"></button>
        }
    </div>
</div>

<div id="sidebar-menu" class="sidebar-menu dontPrint navbar-collapse collapse">
    <ul>
        <li class="fa fa-user">
            <a href=@Url.Action("Create") class="glyphicon glyphicon-plus">
                


            </a>
        </li>

        <li class="fa fa-cog">
            <a id="toggler" href="#" class="glyphicon glyphicon-search"></a>
        </li>
        <li class="fa fa-life-ring">


            <div id="dd" class="dropdown" tabindex="1">
                <a href="#" id="tog" class="dropdown-toggle glyphicon glyphicon-list" data-toggle="dropdown"></a>
                <ul class="dropdown-menu sidebar-menu">
                    <li><a id="toggler1" href="#">Отчет по поступлениям за период</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a class="print dontPrint glyphicon glyphicon-print"></a>
        </li>

        <li>
            <a class="glyphicon glyphicon-export" onclick="tableToExcel('Table', 'Денежные поступления')"></a>
        </li>
    </ul>
</div>




































