@model IEnumerable<D.Models.Денежное_поступление>

@{
    ViewBag.Title = "Денежные поступления";
}
@Html.Partial("_SideMenuMoney")
<div id="table">
    @Html.Partial("Table")
    </div>
    <div class="scrollup">
        <i class="glyphicon glyphicon-chevron-up"></i>
    </div>

    

    @section scripts {


        <script type="text/javascript" src="/Scripts/moment-with-locales.min.js"></script>

        <script type="text/javascript" src="/Scripts/bootstrap-datetimepicker.min.js"></script>

        <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css" />
    }

    

    


