@*@model System.Web.Mvc.HandleErrorInfo*@
@{
    ViewBag.Title = "Ошибка";
}



   <h3>Ошибка!</h3>
<p>К сожалению, вам запрещен доступ к этой странице. Обратитесь к системному администратору.</p>
@*<div>
    @Html.ActionLink("<<", "Index")
</div>*@


