<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://underprivileged-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://underprivileged-001-site1.itempurl.com:8172/msdeploy.axd?site=underprivileged-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>underprivileged-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\underprivileged-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="db" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL6002.site4now.net;Initial Catalog=DB_A300EB_smartasp8;User ID=DB_A300EB_smartasp8_admin;Password=I7aPoJIb" Name="Data Source=SQL6002.site4now.net;Initial Catalog=DB_A300EB_smartasp8;User Id=DB_A300EB_smartasp8_admin;Password=I7aPoJIb;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="D.Models.ApplicationDbContext, D" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)db-Web.config Connection String">
      <ParameterValue>Data Source=SQL6002.site4now.net;Initial Catalog=DB_A300EB_smartasp8;User Id=DB_A300EB_smartasp8_admin;Password=I7aPoJIb;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>